<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <title>Administration</title>

    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{edmin/css/button.css}" rel="stylesheet">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">


    <!-- Icon Font Stylesheet -->
    <script src="https://kit.fontawesome.com/091e570025.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

</head>
<body>
<div class="" th:insert="header :: my-header"></div>
<div class="wrapper" style="margin-top: 100px">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div id="" class="header-spacer bg-dark"></div>
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand text-center" href="/admin">
					<span class="align-middle text-primary ">
						Administration
					</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-item active">
                    <a class="sidebar-link" th:href="@{/admin}">
                        <i class="align-middle" data-feather="user"></i> <span
                            class="align-middle">User management</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/admin/categories}">
                        <i class="align-middle" data-feather="grid"></i><span
                            class="align-middle">Category management</span>
                    </a>
                </li>

                <li class="sidebar-item  ">
                    <a class="sidebar-link no-hover dropdown-toggle" data-toggle="collapse" aria-expanded="false"
                       href="#sidebarSubmenu">
                        <i class="align-middle" data-feather="box"></i>
                        <span class="align-middle">Product management</span>
                    </a>
                    <ul class="collapse list-unstyled sidebar-submenu-item" id="sidebarSubmenu">
                        <li class="sidebar-item ">
                            <a th:href="@{/admin/waitingAuctions}" class="sidebar-link ps-5 pe-2 small">
                                <i class="align-middle" data-feather="archive"></i>
                                <span class="align-middle">Product Awaiting Approval</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a th:href="@{/admin/billManagement}" class="sidebar-link ps-5 pe-2 small">
                                <i class="align-middle" data-feather="grid"></i>
                                <span class="align-middle">Bill Management</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
        <div class="sidebar-toggle-btn js-sidebar-toggle">
            <i class="fa fa-right-left fs-"></i>
        </div>
    </nav>
    <div class="main">
        <div class="header-spacer bg-dark"></div>
        <nav class="navbar navbar-expand navbar-light bg-light px-4 py-3 shadow-sm">

        </nav>
        <main class="content">
            <div class="container-fluid p-0">
                <h1 class="h3 m-3">Users</h1>
                <div class="row ms-0">
                    <div class="col-12">
                        <div class="card">
                            <table class="table table-hover my-0">
                                <thead>
                                <tr>
                                    <th class="d-none d-md-table-cell">Image</th>
                                    <th class="">Username</th>
                                    <th class="d-none d-md-table-cell">FullName</th>
                                    <th class="d-none d-md-table-cell">Email</th>
                                    <th class="d-none d-md-table-cell">Enable</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}" th:href="@{/admin/detail/{id}(id = ${user.id})}">
                                    <td>
                                        <img class="avatar-lg img-fluid rounded-1" th:src="@{${user.image}}">
                                    </td>
                                    <td id="getUsername" th:text="${user.account.username}"></td>
                                    <td class="d-none d-md-table-cell" th:text="${user.fullname}"></td>
                                    <td class="d-none d-md-table-cell" th:text="${user.email}"></td>
                                    <td class="total">

                                        <div th:if="${user.account.enable} == true" class="js-switch">
                                            <label class="switch " >
                                                <input type="checkbox" checked
                                                       th:data-username="${user.account.username}"
                                                       onchange="change(this.getAttribute('data-username'));">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div th:if="${user.account.enable} == false" class="js-switch" th:data-username="${user.account.username}">
                                            <label class="switch " >
                                                <input type="checkbox"
                                                       th:data-username="${user.account.username}"
                                                       onchange="change(this.getAttribute('data-username'));">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                    </td>
                                    <td>
                                        <a style="text-decoration: none;"
                                           th:href="@{/admin/detail/{id}(id = ${user.id})}">
                                            <button type="button" class="btn btn-primary">Detail</button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<!--****** JS ******-->
<script>
    feather.replace()
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/admin/js/app.js}"></script>
<script>

    function change(username){
        $.ajax({
            type: "POST",
            url: "/admin/changeEnable/" + username,

        });
        window.alert("Change Enable " + username + " !");
    }



</script>

</body>
</html>