<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br"
      lang="en-US" xml:lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Pay.Picker</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="https://cdn2.iconfinder.com/data/icons/content-design-production-1/66/36-512.png" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Inter:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/091e570025.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">


    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.theme.default.css}" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1031; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

    </style>

</head>

<body>
<div class="main-wrapper bg-light">
    <div class="" th:insert="header :: my-header"></div>
    <div class="header-spacer"></div>

    <div class="main bg-light " style="margin-top: 100px" >
        <main class="content px-lg-4 pt-lg-4 pb-lg-3 py-3 p-0">
            <div class="container-fluid m-0">
                <div class="card mw-1200px px-lg-5 px-4 pt-5 pb-4 mx-auto my-0" th:object="${products}">
                    <div class="row m-0 flex-lg-row flex-sm-column">
                        <div class="col-lg-4 p-0 m-0 mb-3">
                            <div class="row m-0 justify-content-between">
                                <div class="w-100 p-0 m-0 ">
                                    <div id="productImageSlide"
                                         class="carousel slide border-primary border border-2 p-0"
                                         data-ride="carousel">
                                        <ol class="carousel-indicators m-0">
                                            <li th:each="img, imgState : ${listImages}" th:if="${imgState.index==0}"
                                                data-target="#productImageSlide"
                                                th:attr="data-slide-to=${imgState.index}"
                                                class="bg-primary active"></li>
                                            <li th:each="img, imgState : ${listImages}" th:if="${imgState.index>0}"
                                                data-target="#productImageSlide"
                                                th:attr="data-slide-to=${imgState.index}"
                                                class="bg-primary"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div th:each="img, imgState : ${listImages}" th:if="${imgState.index==0}"
                                                 class="carousel-item ratio ratio-1x1 active">
                                                <img class="d-block of-contain " th:src="@{${img.toString()}}" alt=""
                                                     src=""/>
                                            </div>
                                            <div th:each="img, imgState : ${listImages}" th:if="${imgState.index>0}"
                                                 class="carousel-item ratio ratio-1x1 ">
                                                <img class="d-block of-contain" th:src="@{${img.toString()}}" alt=""
                                                     src=""/>
                                            </div>

                                        </div>
                                        <a class="carousel-control-prev " href="#productImageSlide" role="button"
                                           data-slide="prev">
											<span class="carousel-control-prev-icon bg-primary"
                                                  aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next	" href="#productImageSlide" role="button"
                                           data-slide="next">
											<span class="carousel-control-next-icon bg-primary"
                                                  aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>

                                    </div>
                                </div>
                                <div class="w-100 p-0 mt-2 d-none d-md-block justify-content-start position-relative">
                                    <div class="w-75 mx-auto owl-carousel owl-theme ">
                                        <div th:each="img, imgState : ${listImages}" th:if="${imgState.index==0}"
                                             data-target="#productImageSlide" th:attr="data-slide-to=${imgState.index}"
                                             class="item ratio ratio-1x1 border border-1 border-primary active">
                                            <img class="m-0 of-cover op-center " th:src="@{${img.toString()}}" alt=""
                                                 src=""/>
                                        </div>
                                        <div th:each="img, imgState : ${listImages}" th:if="${imgState.index>0}"
                                             data-target="#productImageSlide" th:attr="data-slide-to=${imgState.index}"
                                             class="item ratio ratio-1x1 border border-1 border-primary">
                                            <img class="m-0 of-cover op-center" th:src="@{${img.toString()}}" alt=""
                                                 src=""/>
                                        </div>
                                    </div>
                                    <div class="customNav">
                                        <div class="customNextBtn">
                                            <i class="bi bi-caret-right-fill fs-4"></i>
                                        </div>
                                        <div class="customPrevBtn">
                                            <i class="bi bi-caret-left-fill fs-4"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-8 m-0 pt-2 " >
                            <form th:action="@{/products/edit}" th:object="${products}" method="post" enctype="multipart/form-data">
                                <div class="row">
<!--                                    <input type="hidden" th:name="account.username" th:value="${#request.userPrincipal.name} ">-->
                                    <input type="hidden" th:field="*{productId}">
                                    <input type="hidden" th:field="*{auction.user.id}">
                                    <input type="hidden" th:field="*{auction.auctionID}">
                                    <div class="col-md-6">
                                        <div class="form-group first">

                                            <label for="name">Product Name: </label><i style="color: red">(*)</i>
                                            <input type="text" th:field="*{productName}"  class="form-control" placeholder="" id="name">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group first">
                                            <label>Category: </label>
                                            <select class="form-control" th:field="*{category}" style="height: calc(1.5em + .75rem + 2px)">
                                                <option th:each="cate : ${categories}"
                                                        th:value="${cate.categoryId}"
                                                        th:text="${cate.name}"></option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 1px">
                                    <div class="col-md-6">
                                        <div class="form-group first">
                                            <label for="reservePrice">Product Price</label><i style="color: red">(*)</i>
                                            <input type="text" th:field="*{auction.reservePrice}" class="form-control" placeholder="" id="reservePrice">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group first">
                                            <label for="phoneNumber">Step Price</label><i style="color: red"></i>
                                            <input type="text" th:field="*{auction.stepPrice}" class="form-control" placeholder="" id="phoneNumber">

                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 1px">

                                    <div class="col-md-6">
                                        <div class="form-group first">
                                            <label for="password">Description</label><i style="color: red">(*)</i>
                                            <textarea rows="5" cols="33" th:field="*{description}"  class="form-control" placeholder="Input your information" id="password"></textarea>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group first">
                                            <label for="dayOfBirth">Time Auction: </label><i style="color: red">(*)</i>
                                            <input type="text" th:field="*{auction.auctionTime}" class="form-control" id="dayOfBirth">

                                        </div>
                                        <div class="form-group first">
                                            <label style="margin-top: 20px" for="image" >Upload Image</label>
                                            <input style="height: calc(1.5em + .75rem + 2px)" multiple="multiple" type="file" name="file" id="file" class="form-control"/>
                                            <input type="hidden" th:field="*{listImage}" class="form-control" id="image">
                                        </div>

                                    </div>


                                </div>

                                <div>
                                    <a style="margin-left: 65px; margin-top: 50px" class="btn btn-success" th:href="@{/auctions/my-auctions}" >Back</a>
                                    <button style="margin-left: 65px; margin-top: 50px" class="btn btn-primary" type="submit">Save</button>

                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </main>

    </div>





    <div class="" th:insert="footer :: my-footer"></div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/timer.js}"></script>



<!-- button decrement price-->


</body>

</html>