<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>F.Auction - Auction Now!</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <!--    <link href="img/favicon.ico" rel="icon">-->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <title>Pay.Picker</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicon -->
        <link th:href="@{/img/logo.svg}" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">


        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">


        <!-- Libraries Stylesheet -->
        <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
        <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
        <link th:href="@{/lib/owlcarousel/assets/owl.theme.default.css}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/button/styles/buttons.css}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link th:href="@{/css/style.css}" rel="stylesheet">

        <style>
            .row {
                margin-bottom: 30px;
            }

        </style>

    </head>

<body style="background: #e3e4e7">

<div class="" th:insert="header :: my-header"></div>

<div class="main-wrapper">
    <!--    <div th:insert="header :: my-header"></div>-->
    <!-- Carousel Start -->
    <div class="header-spacer bg-white"></div>
    <!--search-->
    <div class="container-xxl py-6" style="margin-top: -140px; margin-left: 165px">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" >
            </div>
            <div class="row" th:object="${user}" >
                <div class="col-md-2 col-xl-3">
                    <div class="card mb-3">
                        <div class="card-body text-center" style="padding-top: 70px">
                            <img th:src="*{image}" class="img-fluid rounded-circle mb-2" width="128" height="128">
                            <h5 class="card-title mb-0" th:text="*{fullname}"></h5>
                            <div class="text-muted mb-2" th:text="*{account.username}"></div>
                        </div>
                        <hr class="my-0">
                        <div class="card-body" style="padding-bottom: 66%">
                            <a th:href="@{/changePassword/{username}(username = ${#request.userPrincipal.name})}" style="text-align: center;font-size: 120%; margin-top: 20px; display: block">
                                <i class="bi bi-lock-fill ml-"></i>
                                <span>Change Password</span>
                            </a>
                            <a th:href="@{/changeAvatar}" style="text-align: center;font-size: 120%; margin-top: 20px; display: block; margin-left: -30px">
                                <i class="bi bi-person-bounding-box"></i>
                                <span>Change Avatar</span>
                            </a>
                            <a style="font-size: 120%;margin-top: 30px;margin-left: 40px; display: block">
                                <i class="bi bi-card-heading"></i>
                                <span>My Product</span>
                            </a>
                            <a style="font-size: 120%;margin-top: 30px;margin-left: 40px; display: block">
                                <i class="bi bi-box-seam-fill"></i>
                                <span>My Order</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-8">
                    <div class="card">
                        <strong style="font-size: 200%; margin-left: 6%;margin-top: 3%;margin-bottom: 6%;">Change Password</strong>
                        <form id="formEdit" th:action="@{/savePassword}" method="post" style="padding-left: 10%; padding-right: 10%; padding-bottom: 36%">
                            <input type="hidden" name="username" th:value="${username}">
                            <div class="p-0">
                                <div class="row m-0">
                                    <div class="form-group col-6 px-2">
                                        <label for="password">Enter your new password</label><i style="color: red">(*)</i>
                                        <input type="password" class="form-control rounded-0 p-2" placeholder="New password" name="password" id="password">
                                    </div>
                                </div>
                            </div>
                            <div class="p-0" >
                                <div class="row m-0">
                                    <div class="form-group col-6 px-2">
                                        <label for="password1">Confirm your new password</label><i style="color: red">(*)</i>
                                        <input type="password" class="form-control rounded-0 p-2" placeholder="Confirm new password" id="password1" required oninput="checkPasswordMatch(this);">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-6 px-2">
                                <input type="submit" value="Confirm" class="btn px-5 btn-primary rounded-0 p-2" style="margin-top: 10px">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</div>


<!-- Footer Start -->
<div th:insert="footer :: my-footer"></div>
<!-- Footer End -->

<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>

</body>

</html>