<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="utf-8">
	<title>header</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicon -->
	<link th:href="@{/img/logo.svg}" rel="icon">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<!-- Icon Font Stylesheet -->


	<!-- Libraries Stylesheet -->
	<link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
	<link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

	<!-- Customized Bootstrap Stylesheet -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<div id="header" th:fragment="my-header">
	<!-- Spinner Start -->
	<!-- Spinner Start -->
	<div id="spinner"
		 class="show bg-light position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex flex-row align-items-center justify-content-center">
		<div class="spinner-border text-light d-flex align-items-center justify-content-center" role="status">
			<img th:src="@{/img/logo.svg}" alt="" height="100px" width="100px">
		</div>
	</div>

	<!-- Spinner Start -->
	<div id="spinner-load"
		 class="bg-light-30 position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex flex-row align-items-center justify-content-center">
		<div class="spinner-border text-light d-flex align-items-center justify-content-center" role="status">
			<img th:src="@{/img/logo.svg}" alt="" height="100px" width="100px">
		</div>
	</div>

	<!-- Spinner End -->


	<!-- Navbar Start -->
	<div id="js-header-height" class="wow fadeInDown" data-wow-delay="0.1s">
		<div class="lh-1 w-100 bg-primary p-3 py-md-1 px-5 d-flex justify-content-between">
			<div class="d-none d-md-flex align-items-center ms-xl-4">
				<a href="" class="small text-light me-3">
					<i class="bi bi-envelope-fill fs-5 align-middle"></i>
					<span class="ms-1">contact@smartauction.com</span>
				</a>
				<a href="" class="small text-light">
					<i class="bi bi-phone-fill fs-5 align-middle"></i></i>
					<span class="">+84 98 4848 484</span>
				</a>
			</div>
			<div class="d-none d-md-flex align-items-center fs-6 me-xl-4 ">
				<a href="" class="text-light fw-bold align-middle">
					Help
				</a>
				<a href="" class="border-start border-light border-2 text-light fw-bold align-middle ps-3 ms-3">
					Follow us
				</a>

			</div>

		</div>
		<nav class="navbar navbar-expand-lg bg-white py-0 px-5">

			<a th:href="@{/}" class="navbar-brand ms-xl-4">
				<!--logo-->
				<div class="m-0 d-flex align-items-center">
					<div class="me-1">
						<img th:src="@{/img/logo.svg}" alt="" height="65px" width="65px">
					</div>
					<div class="align-items-center">
						<h5 class="text-secondary m-0 d-flex lh-1">Smart</h5>
						<h5 class="text-primary m-0 d-flex text-uppercase lh-1" style="font-weight: 900 !important; font-size: 22px !important;">Auction</h5>
					</div>
				</div>

			</a>
			<button type="button" class="navbar-toggler bg-primary rounded-0 py-2 my-4 me-4" data-bs-toggle="collapse"
					data-bs-target="#navbarCollapse">
				<i class="fa fa-align-justify text-light"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="divider d-block b-lg-none"></div>
				<div class="navbar-nav mx-auto p-lg-0 px-4  py-2 text-uppercase">
					<a th:href="@{/}" class="nav-item nav-link active">Home</a>
					<a th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}" th:href="@{/admin}" class="nav-item nav-link active">Administration</a>
					<th:block th:if="${#authorization.expression('hasAuthority(''ROLE_USER'')')}">
						<a th:href="@{/auctions/my-bidding}" class="nav-item nav-link">Bidding</a>
						<a th:href="@{/auctions/my-auctions}" class="nav-item nav-link">Auctions</a>
					</th:block>
					<a th:href="@{/guide}" class="nav-item nav-link">Guide</a>
					<a th:href="@{/about}" class="nav-item nav-link">About</a>
				</div>
				<div class="divider d-block b-lg-none"></div>

				<div class="navbar-nav mb-lg-0 mb-4 me-xl-4">
					<div class="ps-lg-3 d-flex justify-content-end" th:if="${#request.userPrincipal == null}">
						<a th:href="@{/login}">
							<div class="btn-primary py-1 px-4">
								<span class="text-light align-middle fs-5 mb-0">Login</span>
							</div>
						</a>
					</div>

					<div class="ps-3 d-flex align-items-center" th:if="${#request.userPrincipal != null}">
						<th:block th:if="${#authorization.expression('hasAuthority(''ROLE_USER'')')}">
							<a th:href="@{/cart}" class="nav-link d-flex flex-column text-center px-2 py-3"
							   title="View your Won items">
								<i class="bi bi-cart px-2 fs-5"></i>
								<span class="small ">Cart</span>
							</a>
							<a th:href="@{/myEwallet}" class="nav-link d-flex flex-column text-center px-2 py-3"
							   title="View your E-wallet">
								<i class="bi bi-wallet2 px-2 fs-5"></i>
								<span class="small ">E-Wallet</span>
							</a>
						</th:block>

						<a th:href="@{/view-profile/{username}(username = ${#request.userPrincipal.name})}" class="nav-link d-flex flex-column text-center px-2 py-3"
						   title="View your profile">
							<i class="bi bi-person px-2 fs-5"></i>
							<span class="small ">My Profile</span>
						</a>
						<a th:href="@{/logout}" class="nav-link d-flex flex-column text-center  px-2 py-3"
						   title="View your profile">
							<i class="bi bi-box-arrow-right fs-5"></i>
							<span class="small ">Logout</span>
						</a>


					</div>
				</div>
			</div>

		</nav>
	</div>

	<!-- Navbar End -->


</div>

</body>

</html>