<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Pay.Picker</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="https://cdn2.iconfinder.com/data/icons/content-design-production-1/66/36-512.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <script src="https://kit.fontawesome.com/091e570025.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">


    <!-- Libraries Stylesheet -->
    <link th:href="@{lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{button/styles/buttons.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{css/style.css}" rel="stylesheet">

</head>

<body>

<div>
    <div class="main-wrapper position-relative">


        <div class="container-fluid p-0">
            <div class="vw-100 d-flex overflow-hidden">
                <a th:href="@{/}">
                    <div id='white-logo'
                         class="position-absolute start-0 top-0 d-flex  align-items-center p-4 form-animation">
                        <div class="me-1">
                            <img th:src="@{/img/logo-onecolor.svg}" alt="" height="65px" width="65px">
                        </div>
                        <div class="align-items-center">
                            <h5 class="text-white m-0 d-flex lh-1">Smart</h5>
                            <h5 class="text-white m-0 d-flex text-uppercase lh-1"
                                style="font-weight: 900 !important; font-size: 22px !important;">Auction</h5>
                        </div>
                    </div>
                    <div id='primary-logo'
                         class="position-absolute start-0 top-0 d-flex  align-items-center p-4 form-animation invisible">
                        <div class="me-1">
                            <img th:src="@{/img/logo-onecolor-primary.svg}" alt="" height="65px" width="65px">
                        </div>
                        <div class="align-items-center">
                            <h5 class="text-primary m-0 d-flex lh-1">Smart</h5>
                            <h5 class="text-primary m-0 d-flex text-uppercase lh-1"
                                style="font-weight: 900 !important; font-size: 22px !important;">Auction</h5>
                        </div>
                    </div>
                </a>
                <div class="w-200 d-flex">
                    <div id="signup-banner" class="col-lg-4 col-12 p-0 shadow-lg form-animation ">
                        <div class="vh-100 bg-gradient-primary d-flex flex-column align-items-center justify-content-center"
                             style="padding-bottom: 10%">

                            <div class="container-fluid px-4  text-center">
                                <h2 class="display-5 text-light fw-bolder mb-2">New Here?</h2>
                                <p class="fs-5 text-light lh-sm mb-4">Sign up and place your bids or create your
                                    auctions
                                    now!</p>
                                <div class="d-flex justify-content-center">
                                    <div id="signup-btn"
                                         class="btn2 btn-light btn-hover-scale rounded-0  px-5 py-2 fs-5 text-secondary cursor-p">
                                        Sign up
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8 col-12 vh-100 m-0 p-0 overflow-hidden">
                        <div class="d-flex w-200 h-100 align-items-center">
                            <div id="login-form" class="form-animation w-50 ">
                                <div class="mx-auto col-8">
                                    <div class="text-start p-2">
                                        <h1 class="text-secondary">Login</h1>
                                    </div>
                                    <div class="p-0">
                                        <form th:action="@{/j_spring_security_check}" th:object="${account}"
                                              method='POST'
                                              class="w-100">
                                            <div class="row m-0">
                                                <div class="form-group col-6 px-2">
                                                    <input class="form-control rounded-0 p-2" type="text"
                                                           placeholder="Username" name="username"
                                                           th:field="*{username}" required>
                                                </div>
                                                <div class="form-group col-6 px-2">
                                                    <input class="form-control rounded-0 p-2" type="password"
                                                           name="password" th:field="*{password}"
                                                           placeholder="Password" required>
                                                </div>
                                            </div>

                                            <div th:if="${#request.getParameter('error') == 'true'}"
                                                 style="color: #D41E3F" class="p-2">
                                                Incorrect username or password
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center p-2 my-2">
                                                <div class="">
                                                    <input type="checkbox" name="remember" id="remember">
                                                    <label for="remember" class="text-muted ms-1 fw-light cursor-p">
                                                        Remember me for next time
                                                    </label>
                                                </div>
                                                <a th:href="@{/forgot_password}" id="forgot"
                                                   class="text-decoration-underline">
                                                    Forgot password?
                                                </a>
                                            </div>

                                            <button type="submit"
                                                    class="btn btn-primary btn-hover-scale rounded-0 fw-bold fs-6 py-2 px-4 ms-2 ">
                                                Login
                                            </button>


                                        </form>

                                    </div>
                                    <div class="d-flex align-items-center my-4">
                                        <div class="divider  flex-grow-1"></div>
                                        <span class="px-2">or</span>
                                        <div class="divider  flex-grow-1"></div>
                                    </div>
                                    <span class="text-center p-2">Login using social networks: </span>
                                    <div class="d-flex align-items-center mt-2">
                                        <a th:href="@{/oauth2/authorization/facebook}" target="_blank" class="px-2">
                                            <div class="p-1 pe-2 btn-hover-scale rounded-0 d-flex align-items-center"
                                                 style="background: #5854A4">
                                                <i class="fa fa-facebook-f fs-5 btn-sm-square bg-light"
                                                   style="color: #5854A4"></i>
                                                <span class="text-light ms-2">Facebook</span>
                                            </div>
                                        </a>
                                        <a th:href="@{/oauth2/authorization/google}" target="_blank" class="px-2">
                                            <div class="p-1 pe-2 btn-hover-scale rounded-0 d-flex align-items-center"
                                                 style="background: #D41E3F">
                                                <i class="fa fa-google fs-5 btn-sm-square bg-light"
                                                   style="color: #D41E3F"></i>
                                                <span class="text-light ms-2">Google</span>

                                            </div>
                                        </a>
                                    </div>


                                </div>
                            </div>
                            <div id="signup-form" class="form-animation w-50 ">
                                <div class=" mx-auto col-8">
                                    <div class="text-start p-2">
                                        <h1 class="text-secondary">Create Free Account</h1>
                                    </div>
                                    <div class="p-0">
                                        <form th:action="@{/signUp}" th:object="${user}" method="post"
                                              enctype="multipart/form-data" class="w-100">
                                            <div class="row m-0">
                                                <div class="form-group col-6 px-2 ">
                                                    <input type="text" th:field="*{fullname}"
                                                           class="form-control rounded-0 p-2"
                                                           placeholder="Full name" required>
                                                    <p class="form-message" style="color: #D51E40"
                                                       th:if="${#fields.hasErrors('fullname')}"
                                                       th:errors="*{fullname}"></p>
                                                </div>
                                                <div class="form-group col-6 px-2 ">
                                                    <input type="text" th:field="*{account.username}"
                                                           class="form-control rounded-0 p-2"
                                                           placeholder="Username" required>
                                                    <p class="form-message" style="color: #D51E40"
                                                       th:if="${#fields.hasErrors('account.username')}"
                                                       th:errors="*{account.username}"></p>
                                                </div>
                                            </div>
                                            <div class="row m-0">
                                                <div class="form-group col-6 px-2 ">
                                                    <input type="email" th:field="*{email}"
                                                           class="form-control rounded-0 p-2"
                                                           placeholder="Email" required>
                                                    <p class="form-message" style="color: #D51E40"
                                                       th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                                </div>
                                                <div class="form-group col-6 px-2 ">
                                                    <input type="text" th:field="*{phoneNumber}"
                                                           class="form-control rounded-0 p-2"
                                                           placeholder="Phone number" required>
                                                    <p class="form-message" style="color: #D51E40"
                                                       th:if="${#fields.hasErrors('phoneNumber')}"
                                                       th:errors="*{phoneNumber}"></p>
                                                </div>
                                            </div>
                                            <div class="row m-0">
                                                <div class="form-group col-6 px-2 ">
                                                    <input type="password" th:field="*{account.password}"
                                                           class="form-control rounded-0 p-2" id="password-signUp"
                                                           placeholder="Password">

                                                </div>
                                                <div class="form-group col-6 px-2 ">
                                                    <input type="password" id="password1" name="confirm"
                                                           class="form-control rounded-0 p-2"
                                                           placeholder="Confirm password"
                                                           onchange="checkPasswordMatch(this)">
                                                    <p id="message-pass" style="color: #D51E40"></p>

                                                </div>
                                            </div>

                                            <button type="submit"
                                                    class="btn btn-primary btn-hover-scale rounded-0 fw-bold fs-6 py-2 px-4 ms-2 mt-4">
                                                Sign up
                                            </button>

                                        </form>

                                    </div>
                                    <div class="d-flex align-items-center my-4">
                                        <div class="divider  flex-grow-1"></div>
                                        <span class="px-2">or</span>
                                        <div class="divider  flex-grow-1"></div>
                                    </div>
                                    <span class="text-center p-2">Login using social networks: </span>
                                    <div class="d-flex align-items-center mt-2">
                                        <a th:href="@{/oauth2/authorization/facebook}" target="_blank" class="px-2">
                                            <div class="p-1 pe-2 btn-hover-scale rounded-0 d-flex align-items-center"
                                                 style="background: #5854A4">
                                                <i class="fa fa-facebook-f fs-5 btn-sm-square bg-light"
                                                   style="color: #5854A4"></i>
                                                <span class="text-light ms-2">Facebook</span>
                                            </div>
                                        </a>
                                        <a th:href="@{/oauth2/authorization/google}" target="_blank" class="px-2">
                                            <div class="p-1 pe-2 btn-hover-scale rounded-0 d-flex align-items-center"
                                                 style="background: #D41E3F">
                                                <i class="fa fa-google fs-5 btn-sm-square bg-light"
                                                   style="color: #D41E3F"></i>
                                                <span class="text-light ms-2">Google</span>

                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="login-banner" class="col-lg-4 col-12 p-0 shadow-lg form-animation">
                        <div class=" vh-100 bg-gradient-primary d-flex flex-column align-items-center justify-content-center"
                             style="padding-bottom: 10%">
                            <div class="container-fluid px-4  text-center">
                                <h2 class="display-5 text-light fw-bolder mb-2">One of Us?</h2>
                                <p class="fs-5 text-light lh-sm mb-4">If you already have an account, just log in. We've
                                    missed you!</p>
                                <div class="d-flex justify-content-center">
                                    <div id="login-btn"
                                         class="btn2 btn-light btn-hover-scale rounded-0  px-5 py-2 fs-5 text-secondary cursor-p">
                                        Log in
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </div>
        </div>
    </div>

</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{lib/wow/wow.min.js}"></script>
<script th:src="@{lib/easing/easing.min.js}"></script>
<script th:src="@{lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{lib/counterup/counterup.min.js}"></script>
<script th:src="@{lib/owlcarousel/owl.carousel.min.js}"></script>
<script type="text/javascript">
    if ($('.form-message').html() !== undefined) {
        console.log($('.form-message').html())
        $('#signup-banner').css('margin-left', '-33.3%')
        $('#login-form').css('margin-left', '-50%')
        $('#white-logo').toggleClass('invisible')
        $('#primary-logo').toggleClass('invisible')
    }
    $('#login-btn').click(function () {
        $('#signup-banner').css('margin-left', '0%')
        $('#login-form').css('margin-left', '0%')
        $('#white-logo').toggleClass('invisible')
        $('#primary-logo').toggleClass('invisible')
    })
    $('#signup-btn').click(function () {
        $('#signup-banner').css('margin-left', '-33.3%')
        $('#login-form').css('margin-left', '-50%')
        $('#white-logo').toggleClass('invisible')
        $('#primary-logo').toggleClass('invisible')

    })

</script>

<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        var message = document.getElementById("message-pass")
        if (fieldConfirmPassword.value === $("#password-signUp").val()) {
            message.innerText = ''

        } else {
            console.log("==")
            message.innerText = 'Password do not match !'
        }
    }
</script>

<!-- Template Javascript -->
<script th:src="@{js/main.js}"></script>


</body>

</html>