<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->


<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Baker - Bakery Website Template</title>-->
<!--    <meta content="width=device-width, initial-scale=1.0" name="viewport">-->
<!--    <meta content="" name="keywords">-->
<!--    <meta content="" name="description">-->

<!--    &lt;!&ndash; Favicon &ndash;&gt;-->
<!--</head>-->

<!--<body>-->
<!--<form th:action="@{/test}" th:object="${bl}" method="post">-->
<!--    <input type="hidden" th:field="*{producId}">-->

<!--        <label>Name</label>-->
<!--        <input type="text" th:field="*{name}">-->

<!--        <label >Reserve Price</label>-->
<!--        <input type="text" th:field="*{reservePrice}">-->
<!--        <label >StepPrice</label>-->
<!--        <input type="text" th:field="*{stepPrice}">-->
<!--        <label >Time Auction</label>-->
<!--        <input type="text" th:field="*{timeAuction}">-->
<!--        <label>Current Price</label>-->
<!--        <input type="text" th:field="*{currentPrice}">-->

<!--                <input type="submit" th:field="*{productStatus} == ''" />-->


<!--                <input type="submit" th:field="*{productStatus}" value="ACCEPT" />-->




<!--</form>-->

<!--</body>-->

<!--</html>-->